<style>

    .text{
        fill: white;
        stroke: white;
        font-family: 'Tahoma', sans-serif;
        text-anchor: end;
    }
    .draggable{
        cursor:pointer;
    }
    .inner{
        margin: 40px 15px;
    }
    .inner2{
        margin: 20px 15px;
    }
    .legend{
            font-family: 'Tahoma', sans-serif;
    }

</style>

<body>
<div class="outer">
  <div class="inner">
  </div>
  <div class="inner2">

  </div>
</div>
</body>

<script>

    var colorScheme = {
        orange: '#F4743B',
        light_green: '#BEEE62',
        green: '#70AE6E',
        blue: '#3C6E71',
        purple: '#483C46'
    };
    var colorArray = [];
    for (var c in colorScheme) {
        colorArray.push(colorScheme[c]);
    }


    categories = ['Class Exercises', 'Tests', 'Quiz', 'Homework'];
    sampleData = categories.map(function(c) { return {category: c, weight: 100/categories.length}; });

    var myChart = weightScaleChart()
            .width(500)
            .height(100)
            .colors(colorArray)
            .legend(true)
            .legendHeight(100);
    d3.select('.inner')
            .datum(sampleData)
            .call(myChart);

    var myOtherChart = weightScaleChart()
            .width(400)
            .height(50)
            .colors(['#3FB2DA', '#A3D119', '#EE8E00', '#D900CA'])
            .legend(true)
            .legendHeight(100);
        d3.select('.inner2')
             .datum(sampleData)
             .call(myOtherChart);

</script>